# Virtualenv
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# dotenv
.env

# Editor directories
.vscode/
.idea/

# Coverage
htmlcov/
.coverage
.coverage.*

# MyPy cache
.mypy_cache/

# Ruff cache
__pypackages__/

# pytest cache
.pytest_cache/